@import '../../colors.scss';
.header {
    display: flex;
    justify-content: space-between;
    background-color: $darkblue;
    color: $white;
    font-size: 1rem;
    .guestZone,
    .userZone {
        display: flex;
    }
    a {
        all: unset;
        padding: 0.8em;
        cursor: pointer;
        transition: all 0.8s;
        &:hover {
            background-color: $lightblue;
        }
        &.active {
            background-color: $lightblue;
        }
    }
}