@import '../../colors.scss';
.header {
    display: flex;
    justify-content: space-between;
    background-color: $darkblue;
    color: $white;
    font-size: 1rem;
    height: 8vh;
    .guestZone,
    .userZone {
        display: flex;
    }
    a {
        all: unset;
        padding: 0.8em;
        cursor: pointer;
        transition: all 0.8s;
        &:hover {
            background-color: $lightblue;
        }
        &.active {
            background-color: blueviolet;
        }
    }
    background-image: url(../../public/headerHD.jpg);

/*
    background: rgb(124, 240, 96);
    background: -moz-linear-gradient(-45deg, rgba(241,231,103,1) 0%, rgba(214,147,45,1) 49%, rgba(214,147,45,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(241,231,103,1)), color-stop(49%, rgba(214,147,45,1)), color-stop(100%, rgba(214,147,45,1)));
    background: -webkit-linear-gradient(-45deg, rgba(241,231,103,1) 0%, rgba(214,147,45,1) 49%, rgba(214,147,45,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(241,231,103,1) 0%, rgba(214,147,45,1) 49%, rgba(214,147,45,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(241,231,103,1) 0%, rgba(214,147,45,1) 49%, rgba(214,147,45,1) 100%);
    background: linear-gradient(135deg, rgba(241,231,103,1) 0%, rgba(214,147,45,1) 49%, rgba(214,147,45,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#d6932d', GradientType=1 );
*/
}